body {
    background-color: #262525;
}
#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333131;
    color: #f7f7f7;
}
header {
    text-align: center;
}

header > a {
    color: #f7f7f7;
}
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    background-color: #262525;
    color: #f7f7f7;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    list-style-type: none;
}
nav>ul>li>a {
    color: #f7f7f7;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

article > p {
    font-size: 18px;
}

img {
    max-height: 500px;
    max-width: 500px;
}

.visuallyhidden {
    display:none;
}

h3 {
    color: #f7f7f7;
    flex: 2;
}
table {
    clear: both;
    flex: 3
}

table, th, td {
    border: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: #1e4279;
  }